/* importe les polices google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500&display=swap');

/* definie les variables css pour les couleurs et tailles */
:root {
    --primary-color: #ff69b4; /* couleur principale */
    --primary-dark-color: #ff1493; /* couleur principale foncée */
    --background-color: #f0eff4; /* couleur de fond */
    --text-color: #333; /* couleur du texte */
    --accent-color: #FFD700; /* couleur des accents */
    --searchbar-height: 55px; /* hauteur de la barre de recherche */
    --searchbar-radius: 50px; /* rayon de la bordure de la barre de recherche */
    --searchbar-width: 1000px; /* largeur de la barre de recherche */
}

/* style global pour le corps de la page */
body {
    font-family: 'Quicksand', sans-serif; /* police de caractères */
    color: var(--text-color); /* couleur du texte */
    margin: 0; /* marge nulle */
    padding: 0; /* padding nul */
}

/* style pour le conteneur principal */
#wrapper {
    text-align: center; /* centrer le texte */
    max-width: 1600px; /* largeur maximale */
    margin: auto; /* marges automatiques */
    padding: 3em; /*padding permet de définir différents écarts de remplissage sur les quatre côtés d'un élément*/
    border-radius: 15px; /* défini les coins arrondis ou non */
    border: 2px solid var(--background-color); /* bordure */
    background-color: var(--background-color); /* couleur de fond */
}

/* style pour l'en-tête */
#header {
    font-family: 'Pacifico', cursive; /* police + cursive */
    font-weight: bold; /* texte en gras */
    text-align: center; /* centrer le texte */
    font-size: 2.5rem; /* taille de police */
    letter-spacing: 0.1rem; /* espacement des lettres */
    color: white; /* couleur du texte */
    background-color: var(--primary-color); /* couleur de fond */
    border-radius: 50px; /* rayon de la bordure */
    padding: 1em; /* padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* ombre */
    margin-bottom: 20px; /* marge en bas */
    transition: background-color 0.3s; /* transition de couleur de fond */
}

/* effet de survol pour l'en-tête */
#header:hover {
    background-color: var(--primary-dark-color); /* changer la couleur de fond au survol */
}

/* style pour le conteneur des boutons */
#buttons-container {
    display: flex; /* affichage en flex */
    justify-content: center; /* centrer les éléments */
    gap: 1em; /* espace entre les éléments */
    margin-bottom: 1em; /* marge en bas */
}

/* style pour les boutons */
#buttons-container button {
    padding: 0.5em 1em; /* padding */
    border: none; /* pas de bordure */
    border-radius: 5px; /* rayon de la bordure */
    background-color: var(--primary-color); /* couleur de fond */
    color: white; /* couleur du texte */
    font-size: 1rem; /* taille de police */
    cursor: pointer; /* curseur de pointeur */
    transition: background-color 0.3s; /* transition de couleur de fond */
}

/* effet de survol pour les boutons */
#buttons-container button:hover {
    background-color: var(--primary-dark-color); /* changer la couleur de fond au survol */
}

/* style pour le contenu principal */
#content {
    display: flex; /* affichage en flex */
    justify-content: space-between; /* espacer les éléments */
    gap: 30px; /* espace entre les éléments */
    margin-bottom: 30px; /* marge en bas */
}

/* style pour les sections de description et d'explication des notes */
#description, #rating-explanation {
    background-color: #fff; /* couleur de fond */
    border-radius: 15px; /* rayon de la bordure */
    padding: 25px; /* padding */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); /* ombre */
    flex: 1; /* flex-grow */
    transition: transform 0.3s, box-shadow 0.3s; /* transitions */
    font-family: 'Roboto', sans-serif; /* police de caractères */
    color: #444; /* couleur du texte */
    line-height: 1.6; /* hauteur de ligne */
    position: relative; /* position relative */
    overflow: hidden; /* cacher le débordement */
    font-size: larger; /* taille de police */
}

/* decoration pour les sections de description et d'explication des notes */
#description::before, #rating-explanation::before {
    content: ""; /* contenu vide */
    position: absolute; /* position absolue */
    top: 0; /* en haut */
    left: 0; /* à gauche */
    width: 100%; /* largeur complète */
    height: 5px; /* hauteur */
    background: linear-gradient(to right, var(--primary-color), var(--primary-dark-color)); /* dégradé */
}

/* effet de survol pour les sections de description et d'explication des notes */
#description:hover, #rating-explanation:hover {
    transform: translateY(-5px); /* déplacement vers le haut */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* ombre plus grande */
}

/* style pour les titres des sections de description et d'explication des notes */
#description h3, #rating-explanation h3 {
    font-size: 2rem; /* taille de police */
    font-weight: 700; /* texte en gras */
    color: var(--primary-color); /* couleur du texte */
    margin-bottom: 15px; /* marge en bas */
    border-bottom: 2px solid var(--primary-color); /* bordure en bas */
    padding-bottom: 5px; /* padding en bas */
}

/* style pour les paragraphes des sections de description et d'explication des notes */
#description p, #rating-explanation p {
    font-size: 1rem; /* taille de police */
    font-weight: 400; /* poids de police */
    color: #555; /* couleur du texte */
}

/* style pour les éléments en gras dans les paragraphes */
#description p strong, #rating-explanation p strong {
    font-weight: 700; /* texte en gras */
}

/* style pour les étoiles */
.gold-star {
    color: var(--accent-color); /* couleur des étoiles */
    font-size: 50px; /* taille de police */
    margin-right: 0.2em; /* marge à droite */
}

/* style pour les petits écrans */
@media (max-width: 768px) {
    #content {
        flex-direction: column; /* direction en colonne */
        gap: 20px; /* espace entre les éléments */
    }

    #description, #rating-explanation {
        flex: 1 1 100%; /* flex-grow et flex-basis */
    }
}

/* style pour le conteneur de la barre de recherche */
#searchbar-container {
    display: flex; /* affichage en flex */
    flex-direction: column; /* direction en colonne */
    align-items: center; /* aligner les éléments au centre */
    margin: 2em 0; /* marges en haut et en bas */
}

/* style pour la barre de recherche */
#searchbar {
    display: flex; /* affichage en flex */
    align-items: center; /* aligner les éléments au centre */
    padding: 1em; /* padding */
    border-radius: var(--searchbar-radius); /* rayon de la bordure */
    background: blanchedalmond; /* couleur de fond */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* ombre */
    transition: box-shadow 0.3s ease-in-out; /* transition de l'ombre */
    width: 100%; /* largeur complète */
    max-width: var(--searchbar-width); /* largeur maximale */
}

/* effet de survol pour la barre de recherche */
#searchbar:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* ombre plus grande au survol */
}

/* style pour le conteneur des éléments de recherche */
.search {
    display: flex; /* affichage en flex */
    align-items: center; /* aligner les éléments au centre */
    width: 100%; /* largeur complète */
}

/* style pour les boutons de recherche */
.search-buttons {
    display: flex; /* affichage en flex */
    justify-content: center; /* centrer les éléments */
    gap: 0.5em; /* espace entre les éléments */
    margin-top: 1em; /* marge en haut */
}

/* style pour les champs de saisie */
input {
    width: 47rem; /* largeur */
    border-radius: var(--searchbar-radius); /* rayon de la bordure */
    height: var(--searchbar-height); /* hauteur */
    box-shadow: none; /* pas d'ombre */
    color: var(--text-color); /* couleur du texte */
    font-size: 1.2rem; /* taille de police */
    border: 1px solid #ccc; /* bordure */
    outline: none; /* pas de contour */
    background: white; /* couleur de fond */
    padding: 0 1.5em; /* padding à gauche et à droite */
    transition: border 0.3s, background-color 0.3s; /* transitions */
}

/* effet de focus pour les champs de saisie */
input:focus {
    border: 2px solid var(--primary-color); /* bordure au focus */
    background-color: #f9f9f9; /* couleur de fond au focus */
}

/* effet de survol pour les champs de saisie */
input:hover {
    border: 2px solid var(--primary-color); /* bordure au survol */
}

/* style pour les boutons */
button {
    border-radius: var(--searchbar-radius); /* rayon de la bordure */
    height: var(--searchbar-height); /* hauteur */
    background-color: var(--primary-color); /* couleur de fond */
    color: white; /* couleur du texte */
    border: none; /* pas de bordure */
    padding: 0 2em; /* padding à gauche et à droite */
    cursor: pointer; /* curseur de pointeur */
    transition: background-color 0.3s ease-in-out, transform 0.2s; /* transitions */
}

/* effet de survol pour les boutons */
button:hover {
    background-color: var(--primary-dark-color); /* couleur de fond au survol */
    transform: translateY(-2px); /* déplacement vers le haut */
}

/* effet de clic pour les boutons */
button:active {
    background-color: var(--primary-dark-color); /* couleur de fond au clic */
    transform: translateY(0); /* remettre en place */
}

/* style pour le conteneur des résultats */
#results-container {
    margin-top: 20px; /* marge en haut */
}

/* style pour les résultats */
#results {
    display: flex; /* affichage en flex */
    flex-wrap: wrap; /* flex-wrap */
    gap: 20px; /* espace entre les éléments */
    justify-content: center; /* centrer les éléments */
}

/* style pour le conteneur de filtre */
#filter-container {
    display: flex; /* affichage en flex */
    justify-content: flex-end; /* aligner les éléments à droite */
    margin-top: 20px; /* marge en haut */
    gap: 10px; /* espace entre les éléments */
}

/* style pour les champs de saisie dans le conteneur de filtre */
#filter-container input {
    padding: 10px; /* padding */
    border-radius: 10px; /* rayon de la bordure */
    border: 1px solid #ccc; /* bordure */
    font-size: 1rem; /* taille de police */
    outline: none; /* pas de contour */
    transition: border 0.3s, background-color 0.3s; /* transitions */
    width: 150px; /* largeur */
    height: 45px; /* hauteur */
}

/* effet de focus pour les champs de saisie dans le conteneur de filtre */
#filter-container input:focus {
    border: 2px solid var(--primary-color); /* bordure au focus */
    background-color: #f9f9f9; /* couleur de fond au focus */
}

/* style pour les boutons dans le conteneur de filtre */
#filter-container button {
    padding: 10px 20px; /* padding */
    border-radius: 10px; /* rayon de la bordure */
    background-color: var(--primary-color); /* couleur de fond */
    color: white; /* couleur du texte */
    border: none; /* pas de bordure */
    cursor: pointer; /* curseur de pointeur */
    transition: background-color 0.3s ease-in-out; /* transition de couleur de fond */
    height: 45px; /* hauteur */
}

/* effet de survol pour les boutons dans le conteneur de filtre */
#filter-container button:hover {
    background-color: var(--primary-dark-color); /* couleur de fond au survol */
}

/* style pour le titre des suggestions */
#suggestions-header {
    text-align: left; /* aligner le texte à gauche */
    font-size: 1.5rem; /* taille de police */
    font-weight: 700; /* texte en gras */
    color: var(--primary-color); /* couleur du texte */
    margin-top: 40px; /* marge en haut */
    margin-bottom: 10px; /* marge en bas */
}

/* style pour le conteneur des suggestions */
#suggestions {
    padding: 15px; /* padding */
    border-radius: 15px; /* rayon de la bordure */
    overflow: hidden; /* cacher le débordement */
    white-space: nowrap; /* empêcher le retour à la ligne */
    position: relative; /* position relative */
    text-align: left; /* aligner le texte à gauche */
}

/* style pour la liste des suggestions */
#suggestions-list {
    display: flex; /* affichage en flex */
    gap: 30px; /* espace entre les éléments */
    justify-content: center; /* centrer les éléments */
}

/* style pour les éléments de suggestion */
.suggestion-item {
    width: 220px; /* largeur */
    flex: 0 0 auto; /* ne pas agrandir ou réduire */
    padding: 10px; /* padding */
    border-radius: 10px; /* rayon de la bordure */
    transition: transform 0.3s, box-shadow 0.3s; /* transitions */
    text-align: center; /* centrer le texte */
}

/* style pour les liens dans les éléments de suggestion */
.suggestion-item .suggestion-link {
    text-decoration: none; /* pas de décoration de texte */
    color: inherit; /* couleur héritée */
    display: block; /* affichage en block */
}

/* style pour les images dans les éléments de suggestion */
.suggestion-item .suggestion-poster {
    width: 100%; /* largeur complète */
    border-radius: 10px; /* rayon de la bordure */
    margin-bottom: 10px; /* marge en bas */
}

/* style pour le titre dans les éléments de suggestion */
.suggestion-item .title {
    font-size: 1.2em; /* taille de police */
    color: var(--primary-color); /* couleur du texte */
    font-weight: bold; /* texte en gras */
}

/* style pour l'année et la note dans les éléments de suggestion */
.suggestion-item .year, .suggestion-item .rating {
    font-size: 1em; /* taille de police */
    color: var(--text-color); /* couleur du texte */
}

/* style pour les titres */
.title {
    font-size: 2.2em; /* taille de police */
    font-family: 'Pacifico', cursive; /* police cursive */
    margin-top: 1.5em; /* marge en haut */
    color: var(--primary-color); /* couleur du texte */
}

/* style pour les années */
.year {
    font-size: 1.2em; /* taille de police */
    font-style: italic; /* style italique */
    margin: 0.4em 0; /* marge en haut et en bas */
}

/* style pour les notes */
.rating {
    font-size: 2em; /* taille de police */
    margin: 0.5em 0; /* marge en haut et en bas */
    color: var(--primary-color); /* couleur du texte */
}

/* style pour les images */
img {
    border-radius: 20px; /* rayon de la bordure */
    border: 5px solid transparent; /* bordure transparente */
    background-color: transparent; /* couleur de fond transparente */
    background-image: linear-gradient(white, white), linear-gradient(to right, var(--primary-color), var(--primary-dark-color)); /* dégradé */
    background-origin: border-box; /* origine du fond */
    background-clip: content-box, border-box; /* clip du fond */
    padding: 10px; /* padding */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* ombre */
    transition: transform 0.3s, box-shadow 0.3s; /* transitions */
    margin-bottom: 20px; /* marge en bas */
}

/* effet de survol pour les images */
img:hover {
    transform: scale(1.05); /* agrandir */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* ombre plus grande */
}

/* style pour les étoiles en or */
.gold-star {
    color: var(--accent-color); /* couleur des étoiles */
    font-size: 1.5rem; /* taille de police */
    margin-right: 0.2em; /* marge à droite */
}

/* style pour les liens */
a {
    color: rgb(241, 51, 168); /* couleur du texte */
    font-weight: bolder; /* texte en gras */
}

/* style pour les icônes material */
.material-symbols-outlined {
    color: rgb(136, 132, 132); /* couleur des icônes */
    margin-right: 1em; /* marge à droite */
    margin-left: 20px; /* marge à gauche */
    font-size: 2.5rem; /* taille de police */
}

/* style pour les liens sans style */
#header a.no-style-link {
    text-decoration: none; /* pas de décoration de texte */
    color: white; /* couleur du texte */
    font-size: 60px; /* taille de police */
}

/* style pour le contenu déroulant des suggestions */
.dropdown-content {
    position: absolute; /* position absolue */
    background-color: white; /* couleur de fond */
    width: 100%; /* largeur complète */
    max-height: 200px; /* hauteur maximale */
    overflow-y: auto; /* défilement vertical */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* ombre */
    z-index: 1; /* niveau de pile */
    margin-top: 5px; /* marge en haut */
    border-radius: 10px; /* rayon de la bordure */
    text-align: left; /* aligner le texte à gauche */
}

/* style pour les éléments de suggestion dans le contenu déroulant */
.dropdown-content .suggestion-item {
    padding: 10px; /* padding */
    cursor: pointer; /* curseur de pointeur */
    border-bottom: 1px solid #ddd; /* bordure en bas */
}

/* enlever la bordure en bas pour le dernier élément */
.dropdown-content .suggestion-item:last-child {
    border-bottom: none; /* pas de bordure en bas */
}

/* effet de survol pour les éléments de suggestion dans le contenu déroulant */
.dropdown-content .suggestion-item:hover {
    background-color: #f1f1f1; /* couleur de fond au survol */
}

/* style pour les boutons de pagination */
.pagination-button {
    margin: 0 5px; /* marges à gauche et à droite */
    padding: 10px 20px; /* padding */
    border: none; /* pas de bordure */
    background-color: var(--primary-color); /* couleur de fond */
    color: white; /* couleur du texte */
    cursor: pointer; /* curseur de pointeur */
    border-radius: 5px; /* rayon de la bordure */
    transition: background-color 0.3s ease; /* transition de couleur de fond */
}

/* effet de survol pour les boutons de pagination */
.pagination-button:hover {
    background-color: var(--primary-dark-color); /* couleur de fond au survol */
}

/* style pour le bouton de pagination actif */
.pagination-button.active {
    background-color: var(--primary-dark-color); /* couleur de fond */
    font-weight: bold; /* texte en gras */
}

/* style pour les boutons de pagination désactivés */
.pagination-button:disabled {
    background-color: #e0e0e0; /* couleur de fond */
    cursor: not-allowed; /* curseur interdit */
}

/* style pour le conteneur de pagination */
#pagination {
    display: flex; /* affichage en flex */
    justify-content: center; /* centrer les éléments */
    margin-top: 20px; /* marge en haut */
}

/* style pour les fenêtres pop-up */
.modal {
    display: none; /* ne pas afficher */
    position: fixed; /* position fixe */
    z-index: 1; /* niveau de pile */
    left: 0; /* à gauche */
    top: 0; /* en haut */
    width: 100%; /* largeur complète */
    height: 100%; /* hauteur complète */
    overflow: auto; /* défilement automatique */
    background-color: rgb(0,0,0); /* couleur de fond */
    background-color: rgba(0,0,0,0.4); /* couleur de fond avec opacité */
}

/* style pour le contenu des fenêtres pop-up */
.modal-content {
    background-color: #fefefe; /* couleur de fond */
    margin: 15% auto; /* marges en haut et en bas automatiques */
    padding: 20px; /* padding */
    border: 1px solid #888; /* bordure */
    width: 90%; /* largeur */
    max-width: 500px; /* largeur maximale */
    border-radius: 10px; /* rayon de la bordure */
}

/* style pour le bouton de fermeture des fenêtres pop-up */
.close {
    color: #aaa; /* couleur du texte */
    float: right; /* flotter à droite */
    font-size: 28px; /* taille de police */
    font-weight: bold; /* texte en gras */
}

/* effet de survol pour le bouton de fermeture des fenêtres pop-up */
.close:hover,
.close:focus {
    color: black; /* couleur du texte */
    text-decoration: none; /* pas de décoration de texte */
    cursor: pointer; /* curseur de pointeur */
}
