@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500&display=swap');

:root {
    --primary-color: #ff69b4; /* definit la couleur principale */
    --primary-dark-color: #ff1493; /* definit une couleur principale plus foncee */
    --background-color: #f0eff4; /* couleur de fond */
    --text-color: #333; /* couleur du texte */
    --accent-color: #FFD700; /* couleur d'accentuation */
}

body {
    font-family: 'Quicksand', sans-serif; /* police principale pour le corps */
    color: var(--text-color); /* couleur du texte */
    margin: 0; /* marge nulle */
    padding: 0; /* padding nul */
}

#wrapper {
    text-align: center; /* texte centre */
    max-width: 1600px; /* largeur maximale */
    margin: auto; /* marge automatique pour centrer */
    padding: 3em; /* padding de 3em */
    border-radius: 15px; /* coins arrondis */
    border: 2px solid var(--background-color); /* bordure de 2px */
    background-color: var(--background-color); /* couleur de fond */
}

#header {
    font-family: 'Pacifico', cursive; /* police pour l'en-tete */
    font-weight: bold; /* texte en gras */
    text-align: center; /* texte centre */
    font-size: 2.5rem; /* taille de police */
    letter-spacing: 0.1rem; /* espacement des lettres */
    color: white; /* couleur du texte */
    background-color: var(--primary-color); /* couleur de fond */
    border-radius: 50px; /* coins arrondis */
    padding: 1em; /* padding de 1em */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* ombre */
    margin-bottom: 20px; /* marge en bas */
    transition: background-color 0.3s; /* transition pour la couleur de fond */
}

#header:hover {
    background-color: var(--primary-dark-color); /* couleur de fond au survol */
}

#content {
    display: flex; /* affichage en flexbox */
    justify-content: space-between; /* espace entre les elements */
    gap: 30px; /* espace entre les elements */
    margin-bottom: 30px; /* marge en bas */
}

#description, #rating-explanation {
    background-color: #fff; /* couleur de fond blanche */
    border-radius: 15px; /* coins arrondis */
    padding: 25px; /* padding de 25px */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); /* ombre */
    flex: 1; /* flex-grow a 1 */
    transition: transform 0.3s, box-shadow 0.3s; /* transition pour la transformation et l'ombre */
    font-family: 'Roboto', sans-serif; /* police */
    color: #444; /* couleur du texte */
    line-height: 1.6; /* hauteur de ligne */
    position: relative; /* position relative */
    overflow: hidden; /* debordement cache */
    font-size: larger; /* taille de police plus grande */
}

#description::before, #rating-explanation::before {
    content: ""; /* contenu vide pour le pseudo-element */
    position: absolute; /* position absolue */
    top: 0; /* en haut */
    left: 0; /* a gauche */
    width: 100%; /* largeur a 100% */
    height: 5px; /* hauteur de 5px */
    background: linear-gradient(to right, var(--primary-color), var(--primary-dark-color)); /* degrade de couleur */
}

#description:hover, #rating-explanation:hover {
    transform: translateY(-5px); /* translation vers le haut de 5px au survol */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* ombre plus grande au survol */
}

#description h3, #rating-explanation h3 {
    font-size: 2rem; /* taille de police */
    font-weight: 700; /* texte en gras */
    color: var(--primary-color); /* couleur du texte */
    margin-bottom: 15px; /* marge en bas */
    border-bottom: 2px solid var(--primary-color); /* bordure en bas */
    padding-bottom: 5px; /* padding en bas */
}

#description p, #rating-explanation p {
    font-size: 1rem; /* taille de police */
    font-weight: 400; /* texte normal */
    color: #555; /* couleur du texte */
}

#description p strong, #rating-explanation p strong {
    font-weight: 700; /* texte en gras */
}

.gold-star {
    color: var(--accent-color); /* couleur d'accentuation */
    font-size: 50px; /* taille de police */
    margin-right: 0.2em; /* marge a droite */
}

@media (max-width: 768px) {
    #content {
        flex-direction: column; /* affichage en colonne */
        gap: 20px; /* espace entre les elements */
    }

    #description, #rating-explanation {
        flex: 1 1 100%; /* flex-grow et flex-basis a 100% */
    }
}

#searchbar-container {
    display: flex; /* affichage en flexbox */
    justify-content: center; /* centrer horizontalement */
    margin: 2em 0; /* marge verticale */
}

#searchbar {
    display: flex; /* affichage en flexbox */
    align-items: center; /* alignement vertical */
    padding: 0.5em; /* padding */
    border-radius: 28px; /* coins arrondis */
    background: blanchedalmond; /* couleur de fond */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* ombre */
    transition: box-shadow 0.3s ease-in-out; /* transition pour l'ombre */
    margin-bottom: 0px; /* marge en bas */
    position: relative; /* position relative */
}

#searchbar:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* ombre plus grande au survol */
}

input {
    border-radius: 50px; /* coins arrondis */
    height: 55px; /* hauteur */
    width: 400px; /* largeur */
    box-shadow: none; /* pas d'ombre */
    color: var(--text-color); /* couleur du texte */
    font-size: 1.2rem; /* taille de police */
    border: 1px solid #ccc; /* bordure */
    outline: none; /* pas de contour */
    background: white; /* couleur de fond */
    padding: 0 1.5em; /* padding interne */
    margin-right: 0.5em; /* marge a droite */
    transition: border 0.3s, background-color 0.3s; /* transition pour la bordure et la couleur de fond */
}

input:focus {
    border: 2px solid var(--primary-color); /* bordure au focus */
    background-color: #f9f9f9; /* couleur de fond au focus */
}

input:hover {
    border: 2px solid var(--primary-color); /* bordure au survol */
}

button {
    border-radius: 50px; /* coins arrondis */
    height: 55px; /* hauteur */
    background-color: var(--primary-color); /* couleur de fond */
    color: white; /* couleur du texte */
    border: none; /* pas de bordure */
    padding: 0 2em; /* padding interne */
    margin-left: 0.5em; /* marge a gauche */
    cursor: pointer; /* curseur de pointeur */
    transition: background-color 0.3s ease-in-out, transform 0.2s; /* transition pour la couleur de fond et la transformation */
}

button:hover {
    background-color: var(--primary-dark-color); /* couleur de fond au survol */
    transform: translateY(-2px); /* translation vers le haut au survol */
}

button:active {
    background-color: var(--primary-dark-color); /* couleur de fond a l'activation */
    transform: translateY(0); /* annule la translation */
}

#results-container {
    margin-top: 20px; /* marge en haut */
}

#results {
    display: flex; /* affichage en flexbox */
    flex-wrap: wrap; /* les elements vont a la ligne si necessaire */
    gap: 20px; /* espace entre les elements */
    justify-content: center; /* centrer horizontalement */
}

#filter-container {
    display: flex; /* affichage en flexbox */
    justify-content: flex-end; /* alignement a droite */
    margin-top: 20px; /* marge en haut */
    gap: 10px; /* espace entre les elements */
}

#filter-container input {
    padding: 10px; /* padding */
    border-radius: 10px; /* coins arrondis */
    border: 1px solid #ccc; /* bordure */
    font-size: 1rem; /* taille de police */
    outline: none; /* pas de contour */
    transition: border 0.3s, background-color 0.3s; /* transition pour la bordure et la couleur de fond */
    width: 150px; /* largeur */
    height: 45px; /* hauteur */
}

#filter-container input:focus {
    border: 2px solid var(--primary-color); /* bordure au focus */
    background-color: #f9f9f9; /* couleur de fond au focus */
}

#filter-container button {
    padding: 10px 20px; /* padding interne */
    border-radius: 10px; /* coins arrondis */
    background-color: var(--primary-color); /* couleur de fond */
    color: white; /* couleur du texte */
    border: none; /* pas de bordure */
    cursor: pointer; /* curseur de pointeur */
    transition: background-color 0.3s ease-in-out; /* transition pour la couleur de fond */
    height: 45px; /* hauteur */
}

#filter-container button:hover {
    background-color: var(--primary-dark-color); /* couleur de fond au survol */
}

#suggestions-header {
    text-align: left; /* alignement a gauche */
    font-size: 1.5rem; /* taille de police */
    font-weight: 700; /* texte en gras */
    color: var(--primary-color); /* couleur du texte */
    margin-top: 40px; /* marge en haut */
    margin-bottom: 10px; /* marge en bas */
}

#suggestions {
    padding: 15px; /* padding */
    border-radius: 15px; /* coins arrondis */
    overflow: hidden; /* debordement cache */
    white-space: nowrap; /* pas de retour a la ligne */
    position: relative; /* position relative */
    text-align: left; /* alignement a gauche */
}

#suggestions-list {
    display: flex; /* affichage en flexbox */
    gap: 30px; /* espace entre les elements */
    justify-content: center; /* centrer horizontalement */
}

.suggestion-item {
    width: 220px; /* largeur */
    flex: 0 0 auto; /* taille fixe */
    padding: 10px; /* padding */
    border-radius: 10px; /* coins arrondis */
    transition: transform 0.3s, box-shadow 0.3s; /* transition pour la transformation et l'ombre */
    text-align: center; /* alignement centre */
}

.suggestion-item .suggestion-link {
    text-decoration: none; /* pas de soulignement */
    color: inherit; /* herite de la couleur du texte */
    display: block; /* affichage en bloc */
}

.suggestion-item .suggestion-poster {
    width: 100%; /* largeur a 100% */
    border-radius: 10px; /* coins arrondis */
    margin-bottom: 10px; /* marge en bas */
}

.suggestion-item .title {
    font-size: 1.2em; /* taille de police */
    color: var(--primary-color); /* couleur du texte */
    font-weight: bold; /* texte en gras */
}

.suggestion-item .year, .suggestion-item .rating {
    font-size: 1em; /* taille de police */
    color: var(--text-color); /* couleur du texte */
}

.title {
    font-size: 2.2em; /* taille de police */
    font-family: 'Pacifico', cursive; /* police */
    margin-top: 1.5em; /* marge en haut */
    color: var(--primary-color); /* couleur du texte */
}

.year {
    font-size: 1.2em; /* taille de police */
    font-style: italic; /* style italique */
    margin: 0.4em 0; /* marge verticale */
}

.rating {
    font-size: 2em; /* taille de police */
    margin: 0.5em 0; /* marge verticale */
    color: var(--primary-color); /* couleur du texte */
}

img {
    border-radius: 20px; /* coins arrondis */
    border: 5px solid transparent; /* bordure transparente */
    background-color: transparent; /* couleur de fond transparente */
    background-image: linear-gradient(white, white), linear-gradient(to right, var(--primary-color), var(--primary-dark-color)); /* degrade de couleur */
    background-origin: border-box; /* origine de l'arriere-plan */
    background-clip: content-box, border-box; /* clip de l'arriere-plan */
    padding: 10px; /* padding */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* ombre */
    transition: transform 0.3s, box-shadow 0.3s; /* transition pour la transformation et l'ombre */
    margin-bottom: 20px; /* marge en bas */
}

img:hover {
    transform: scale(1.05); /* agrandissement au survol */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* ombre plus grande au survol */
}

.gold-star {
    color: var(--accent-color); /* couleur d'accentuation */
    font-size: 1.5rem; /* taille de police */
    margin-right: 0.2em; /* marge a droite */
}

a {
    color: rgb(241, 51, 168); /* couleur du texte */
    font-weight: bolder; /* texte en gras */
}

.material-symbols-outlined {
    color: rgb(136, 132, 132); /* couleur du texte */
    margin-right: 1em; /* marge a droite */
    margin-left: 20px; /* marge a gauche */
    font-size: 2.5rem; /* taille de police */
}

#header a.no-style-link {
    text-decoration: none; /* pas de soulignement */
    color: white; /* couleur du texte */
    font-size: 60px; /* taille de police */
}

.dropdown-content {
    position: absolute; /* position absolue */
    background-color: white; /* couleur de fond blanche */
    width: 425px; /* largeur */
    max-height: 200px; /* hauteur maximale */
    overflow-y: auto; /* debordement en y defilant */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* ombre */
    z-index: 1; /* niveau z */
    margin-top: 0px; /* marge en haut */
    border-radius: 10px; /* coins arrondis */
    text-align: left; /* alignement a gauche */
    margin-left: 90px; /* marge a gauche */
}

.dropdown-content .suggestion-item {
    padding: 10px; /* padding */
    cursor: pointer; /* curseur de pointeur */
    border-bottom: 1px solid #ddd; /* bordure en bas */
}

.dropdown-content .suggestion-item:last-child {
    border-bottom: none; /* pas de bordure en bas pour le dernier element */
}

.dropdown-content .suggestion-item:hover {
    background-color: #f1f1f1; /* couleur de fond au survol */
}

.pagination-button {
    margin: 0 5px; /* marge horizontale */
    padding: 10px 20px; /* padding interne */
    border: none; /* pas de bordure */
    background-color: var(--primary-color); /* couleur de fond */
    color: white; /* couleur du texte */
    cursor: pointer; /* curseur de pointeur */
    border-radius: 5px; /* coins arrondis */
    transition: background-color 0.3s ease; /* transition pour la couleur de fond */
}

.pagination-button:hover {
    background-color: var(--primary-dark-color); /* couleur de fond au survol */
}

.pagination-button.active {
    background-color: var(--primary-dark-color); /* couleur de fond pour le bouton actif */
    font-weight: bold; /* texte en gras */
}

.pagination-button:disabled {
    background-color: #e0e0e0; /* couleur de fond pour le bouton desactive */
    cursor: not-allowed; /* curseur non autorise */
}

#pagination {
    display: flex; /* affichage en flexbox */
    justify-content: center; /* centrer horizontalement */
    margin-top: 20px; /* marge en haut */
}
